* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --blackPS: #191A23;
    --greenPS: #B9FF66;
    --greyPS: #F3F3F3;
}

a {
    color: inherit;
    text-decoration: none;
}

.page {
    font-family: "Space Grotesk", sans-serif;
    padding: 0 100px;
}

.navbar {
    align-items: center;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    line-height: 28px;
    padding: 60px 0 70px;
}

.navbar--footer {
    padding: 0;
}

.navbar__icon {
    height: 36px;
    width: 219px;
}

.navbar-menu__item {
    padding: 20px 40px;
}

.button {
    border: 1px solid var(--blackPS);
    border-radius: 14px;
    font-size: 20px;
    line-height: 28px;
    padding: 20px 35px;
}

.button--black-background {
    background-color: var(--blackPS);
    color: #fff;
}

.button-green-background {
    background-color: var(--greenPS);
}

.header {
    display: flex;
    justify-content: space-between;
}

.header__illustration {
    width: 600px;
}

.header__text {
    font-size: 20px;
    line-height: 28px;
    max-width: 498px;
    padding: 35px 0;
}

.header__title {
    font-size: 60px;
    font-weight: 500;
    line-height: 77px;
    max-width: 531px;
}

.logotypes {
    display: flex;
    justify-content: space-between;
}

.logotypes-links {
    height: 48px;
}

.logotypes-links__image {
    height: 100%;
}


.subheading {
    display: flex;
    justify-content: flex-start;
    padding-top: 100px;
    padding-bottom: 85px;
}

.label {
    background-color: var(--greenPS);
    font-size: 40px;
    font-weight: 500;
    line-height: 51px;
    padding: 0 7px;
    border-radius: 7px;
}

.label--footer {
    font-size: 20px;
    padding: 0px 7px 0px 7px;
    color: #000;
}

.label--green-card {
    background-color: #fff;
}

.subheading__text {
    font-size: 18px;
    line-height: 23px;
    padding-left: 40px;
    max-width: 580px;
}

.subheading__text--footer {
    padding-left: 0;
    padding-bottom: 20px;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding-bottom: 40px;
}

.cards:nth-last-child(1) {
    padding-bottom: 100px;
}

.cards-item {
    min-height: 210px;
    padding: 50px;
    border-radius: 45px;
    display: inherit;
    justify-content: space-between;
    flex: 1;
    border: 1px solid var(--blackPS);
    box-shadow: 0px 5px 0px 0px var(--blackPS);
}

.cards-item--white {
    background: rgb(243, 243, 243);
}

.cards-item--green {
    background: var(--greenPS);
}

.cards-item--black {
    background-color: var(--blackPS);
    border: 1px solid var(--greenPS);
    box-shadow: 0px 5px 0px 0px var(--greenPS);
}

.cards-item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.cards-item-content__desription {
    font-size: 20px;
    line-height: 28px;
    color: #000;
}

.cards-item-content__desription--black-card {
    color: #fff;
}

.cards-item-content-container {
    display: flex;
    align-items: center;
}

.cards-item-content-container__icon {
    width: 41px;
    height: 41px;
    padding-right: 15px;
}

.cards-item__image {
    width: 210px;
    height: 166px;
    align-self: center;
}

.cta {
    background-color: #f3f3f3;
    border-radius: 45px;
    display: flex;
    justify-content: space-between;
    padding: 60px;
    position: relative;
}

.cta-container {
    align-items: flex-start;
    display: inherit;
    flex-direction: column;
    justify-content: space-between;
}

.cta__image {
    height: 394.27px;
    position: absolute;
    right: 135px;
    top: -25px;
    width: 359px;
}

.cta__text {
    font-size: 18px;
    line-height: 23px;
    padding: 26px 0;
    width: 500px;
}

.cta__title {
    font-size: 30px;
    font-weight: 500;
    line-height: 38px;
}

.case {
    background-color: var(--blackPS);
    border-radius: 45px;
    display: flex;
    justify-content: space-between;
    padding: 70px 10px;
}

.case-item {
    padding: 0 64.5px;
}

.case-item:nth-child(2) {
    border-left: solid 1px white;
    border-right: solid 1px white;
}

.case-item__content {
    color: #fff;
    padding-bottom: 20px;
}

.case-item-container {
    display: flex;
}

.case-item-container__arrow {
    height: 20px;
}

.case-item-container__message {
    color: var(--greenPS);
    font-size: 20px;
    line-height: 28px;
    padding-right: 15px;
}

.process {
    display: flex;
    flex-direction: column;
}

.process-item {
    background-color: #f3f3f3;
    border: 1px solid var(--blackPS);
    border-radius: 45px;
    box-shadow: 0px 5px 0px 0px var(--blackPS);
    margin-bottom: 30px;
    padding: 41px 60px;
}

.process-item--active {
    background-color: var(--greenPS);
}

.process-item-preview {
    display: flex;
    justify-content: space-between;
}


.process-item-preview-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.process-item-preview-container__number {
    font-size: 60px;
    font-weight: 500;
    line-height: 77px;
    padding-right: 25px;
}

.process-item-preview-container__title {
    font-size: 30px;
    font-weight: 500;
    line-height: 38px;
}

.process__content {
    font-size: 18px;
    line-height: 23px;
    padding-top: 30px;
}

.process__state {
    background-image: url(images/plus-icon.png);
    background-size: contain;
    height: 58px;
    width: 58px;
}

.process__state--active {
    background-image: url(images/minus-icon.png);
}

.process-expandable {
    display: none;
}

.process-expandable--active {
    display: block;
}

.separator-line {
    border: 1px solid #0000003f;
}

.separator-line--footer {
    border: 1px solid rgb(255, 255, 255);
    margin-top: 50px;
}

.testimonials {
    display: flex;
    gap: 50px;
    justify-content: center;
    padding-bottom: 124px;
    padding-left: -346px;
    padding-right: -332px;
    padding-top: 84px;
}

.testimonials-container {
    align-items: center;
    background-color: var(--blackPS);
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding-bottom: 68px;
}

.testimonials-content__text {
    border: solid 1px var(--greenPS);
    border-radius: 45px;
    color: #fff;
    font-size: 18px;
    min-width: 406px;
    padding: 48px 52px;
    position: relative;
}

.testimonials-content__text::after {
    background-color: var(--blackPS);
    border-bottom: 2px solid var(--greenPS);
    border-left: 2px solid var(--greenPS);
    bottom: -20px;
    content: "";
    height: 40px;
    left: 40px;
    position: absolute;
    transform: rotate(-45deg);
    width: 40px;
}

.testimonials-information {
    padding-left: 55px;
    padding-top: 20px;
}

.contact-block {
    display: flex;
    justify-content: space-between;
    padding: 60px 100px 80px;
}

.slider {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.slider-navigation {
    padding: 0 190px;
}

.slider-navigation__indicator {
    color: var(--greyPS);
    padding: 9.5px;
}

.slider-navigation__indicator--active {
    color: var(--greenPS);
}

.slider__arrow {
    align-items: center;
    background-color: transparent;
    border: none;
    display: flex;
}

.slider__arrow-image {
    color: rgba(255, 255, 255, 0.3);
    margin: 0;
    padding: 0;
    width: 20px;
}

.slider__arrow-image--active {
    color: #fff;
}

.slider__arrow-image--rotated {
    transform: rotate(180deg);
}

.team {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

.team-container {
    background-color: #ffffff;
    border: 1px solid var(--blackPS);
    border-radius: 45px;
    box-shadow: 0px 5px 0px 0px var(--blackPS);
    padding: 40px 35px;
}

.team-container-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 27.5px;
}

.team-container-content-info {
    align-self: flex-end;
}

.team-container-content__image {
    height: 100px;
    padding-right: 25px;
    width: 100px;
}

.team-container__content {
    font-size: 18px;
    line-height: 23px;
    padding-top: 28.5px;
}

.team-grid {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 40px;
}

.testimonials-information__title {
    color: var(--greenPS);
    font-size: 18px;
    line-height: 0px;
    padding-top: 48px;
}

.testimonials-information-subtitle {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 0px;
    padding-top: 28px;
}

.contact-block {
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.contact-block-form {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.contact-block-form__input {
    border-radius: 14px;
    margin-bottom: 25px;
    min-width: 456px;
    padding: 18px 30px;
}

.contact-block-form__input--message {
    height: 190px;
}

.contact-block-form__label {
    padding-bottom: 5px;
}

.contact-block__image {
    height: 648px;
    width: 691.57px;
    margin: 0px -367px;
}

.content-block-form-radio {
    padding-bottom: 40px;
}

.content-block-form-radio__input {
    cursor: pointer;
}

.content-block-form-radio__label {
    cursor: pointer;
    padding-left: 8px;
    padding-right: 35px;
}

.footer {
    background-color: var(--blackPS);
    border-radius: 45px 45px 0 0;
    color: #fff;
    font-size: 18px;
    margin: auto;
    padding: 55px 60px 50px;
    width: 90%;
}

.footer-contact {
    align-items: center;
    background-color: #292a32;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    padding: 58px 40px;
}

.footer-contact__input {
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 14px;
    font-size: 18px;
    height: 23px;
    margin-right: 20px;
    padding: 22px 35px;
    width: 215px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 68px;
}

.footer-header-social__image {
    height: 30px;
    width: 30px;
}

.footer-rights {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding-top: 50px;
}

.footer-rights__copyright {
    padding-right: 40px;
}

.footer-rights__policy {
    text-decoration: underline;
}
